body{
    font-size: 60px;
    background-color:black;
    color: aliceblue;
    text-align: center;
    line-height: 10vw;
}
.about{
    color:whitesmoke;
    font-size: 1em;
    font-family: 'Concert One', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mypic{
    width:30vw;
    height: 30vw;
    border: 5px black;
    border-radius: 10%;
    box-shadow: 5px -5px 5px gray; 
    margin-left: auto;
    margin-right: auto; 
}
.myname{
    text-align:center;
    padding: 10px;
}
.details{
    text-align: center;
    color: lightseagreen;
    font-family: 'Concert One', cursive;
}
