body{
    font-size: 60px;
    background-color:black;
    color: aliceblue;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.info{
    color:whitesmoke;
    font-size: 1em;
    font-family: 'Concert One', cursive;
    display: flex;
    justify-content: center;
}
.mypic{
    width:30vw;
    height: 30vw;
    border: 2px groove lightseagreen;
    border-radius: 10vw;
    margin-left: auto;
    margin-right: auto;
}
.myname{
    text-align:center;
    font-family: 'Faster One', cursive;
    color: lightseagreen;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 60vw;
    margin-top: auto;
    margin-bottom: auto; 
}
.about{
    text-align: center;
    color: lightseagreen;
    font-family: 'Concert One', cursive;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 0.7em;
    text-align: center;
}
.intro{
    line-height: 5vw;
    justify-content: center;
    width: 80vw;
    font-size: 0.7em;
    color: whitesmoke;
    padding:2.5vw;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px lightseagreen;
    font-family: 'Abel', sans-serif;
    text-align:center;
    flex-wrap: wrap;
}

.technologies{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 0.7em;
    justify-content: center;
    text-align: center;
}
.item{
    width: 30%;
    height: 40%;
    border:1px groove white; 
}
.item img{
    width: 80%;
    height: 80%;
}
.techname{
    color:white;
    margin-bottom: auto;
    height: 20%;
    align-items: center;
}
/*media Queries*/
@media screen and (max-width:800px){
    .info{
        flex-direction: column;
        font-size: 0.7em;
        text-align: center;
    }
    .myname{
        width: 100vw;
        margin-bottom: 3%;
    }
    .mypic{
        height: 30vw;
        margin-left: auto;
        margin-right: auto;
    }
    .about{
        flex-direction: column;
        font-size: 0.7em;
        justify-content: center;
    }
    h1{
        width: 100vw;
        text-align: center;
        font-size: 0.7em;
        position: relative;
    }
    .intro{
        justify-content: center;
        width: 90vw;
        font-size: 0.5em;
    }
    .technologies{
        font-size:0.7em;
    }
    .item img{
        width: 100%;
    }
}
@media screen and (max-width:600px){
    .info{
        font-size: 0.5em;
    }
    h1{
        width: 100vw;
        text-align: center;
        font-size: 0.7em;
    }
    .myname{
        width: 100%;
    }
    .mypic{
        height: 30vw;
    }
    .about{
        flex-direction: column;
        font-size: 0.5em;
    }
    .intro{
        justify-content: center;
        font-size: 0.5em;
    }
    .technologies{
        font-size:0.55em;
    }
}
@media screen and (max-width:300px){
    .info{
        font-size: 0.4em;
    }
    .technologies{
        font-size:0.5em;
    }
    .about{
        font-size: 0.4em;
    }
    .intro{
        font-size: 0.4em;
    }
}