body{
    font-size: 60px;
    background-color:black;
    color: aliceblue;
    text-align: center;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.info{
    color:whitesmoke;
    font-size: 1em;
    font-family: 'Concert One', cursive;
    flex-direction: column;
    justify-content: center;
    line-height: 10vw;
}
.mypic{
    width:30vw;
    height: 30vw;
    border: 5px black;
    border-radius: 10%;
    box-shadow: 5px -5px 5px gray; 
    margin-left: auto;
    margin-right: auto; 
}
.myname{
    text-align:center;
    padding: 10px;
}
.about{
    width: 100vw;
    text-align: center;
    color: lightseagreen;
    font-family: 'Concert One', cursive;
    display: flex;
    justify-content: center;
}
#intro{
    line-height: 3vw;
    font-size: 0.5em;
    width: 80vw;
    color: whitesmoke;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px lightseagreen;
    font-family: 'Abel', sans-serif;
    text-align: start;
    padding-left: 10px;
}
h1{
    font-size: 0.7em;
    text-align: start;
    width: 15vw;
}
